# Project details - regression

**Background**: You are working as an analyst for a real estate company. Your company wants to build a machine learning model to predict the selling prices of houses based on a variety of features on which the value of the house is evaluated.

**Objective**: The task is to build a model that will predict the price of a house based on features provided in the dataset. The senior management also wants to explore the characteristics of the houses using some business intelligence tool. One of those parameters include understanding which factors are responsible for higher property value - \$650K and above.
The questions have been provided later in the document for which you can use tableau.

**Data**: The data set consists of information on some 22,000 properties.  The dataset consisted of historic data of houses sold between May 2014 to May 2015.
These are the definitions of data points provided:
(Note: For some of the variables that are self explanatory, no definition has been provided)

- **Id**: Unique identification number for the property.
- **date**: date the house was sold.
- **price**: price of the house.
- **waterfront**: house which has a view to a waterfront.
- **condition**: How good the condition is (overall). **1** indicates worn out property and **5** excellent.
- **grade**: Overall grade given to the housing unit, based on King County grading system. 1 poor ,13 excellent.
- **Sqft_above**: square footage of house apart from basement.
- **Sqft_living15**: Living room area in 2015(implies - some renovations). This might or might not have affected the lotsize area.
- **Sqft_lot15**: lotSize area in 2015(implies - some renovations).

### Exploring the data

We encourage you to thoroughly understand your data and take the necessary steps to prepare your data for modeling before building exploratory or predictive models. Since this is a regression task, you can use linear regression  for building a model. You are also encouraged to use other models in your project if necessary.
To explore the data, you can use the techniques that have been discussed in class. Some of them include using the describe method, checking null values, using _matplotlib_ and _seaborn_ for developing visualizations.
The data has a number of categorical and numerical variables. Explore the nature of data for these variables before you start with the data cleaning process and then data pre-processing (scaling numerical variables and encoding categorical variables).
You can  also use tableau to visually explore the data further.

### Model

Build a regression model that best fits your data. You can use the measures of accuracies that have been discussed in class

## First Steps 

- Check the columns
- Identify the column types (numerical/categorical, discrete/continuous ,string/float/date, check the unique values, check the outliers, check the null values and decide (replace or drop)
- Importing Libraries
- Input Customer Feedback Dataset
- Locate Missing Data
- Check for Duplicates
- Detect Outliers 
- Normalize Casing

In [1]:
#Importing libraries

import pandas as pd
import numpy as np

In [44]:
#Input dataset
df = pd.read_excel("Data/Data_MidTerm_Project_Real_State_Regression.xls")
pd.set_option('max_columns', None)

In [45]:
df

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price
0,7129300520,2014-10-13,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,221900
1,6414100192,2014-12-09,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,538000
2,5631500400,2015-02-25,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062,180000
3,2487200875,2014-12-09,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,604000
4,1954400510,2015-02-18,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,510000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,263000018,2014-05-21,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509,360000
21593,6600060120,2015-02-23,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200,400000
21594,1523300141,2014-06-23,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007,402101
21595,291310100,2015-01-16,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287,400000
21596,1523300157,2014-10-15,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357,325000

In [4]:
#Locate Missing Data
df.isnull().sum()

id               0
date             0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
price            0
dtype: int64

In [46]:
#Locate incorrect data for every column
df.yr_renovated.value_counts()

0       20683
2014       91
2013       37
2003       36
2005       35
        ...
1951        1
1959        1
1948        1
1954        1
1944        1
Name: yr_renovated, Length: 70, dtype: int64

In [24]:
#Why are bathrooms and floors floats and not integers ? because of the bathroom counting system
#what is the difference between sqft_living and sqft_living 15)?
#Should we convert the years of construction to datetime ?
#Do we filter the price starting from 650k ?
#We could plot according to the tableau_regression file, the price per bedrooms, per bathrooms etc...

print(df[df.duplicated()])

Empty DataFrame
Columns: [id, date, bedrooms, bathrooms, sqft_living, sqft_lot, floors, waterfront, view, condition, grade, sqft_above, sqft_basement, yr_built, yr_renovated, zipcode, lat, long, sqft_living15, sqft_lot15, price]
Index: []

[0 rows x 21 columns]

- Id : unique values, not needed for the analysis and the regression,to drop
- Bedrooms : outliers (11,33), we could keep only the values inside a certain quartile or z value and drop the rest
- Bathrooms : check the outliers
- SQFT values : maybe we can categorize the values in bins ?
- Condition, grade : to categorize ?
- yr_renovated : a lot of null values, maybe we could create a renovated ? column with yes/no values instead and categorize it
- zipcode :maybe needed for the map,otherwise could be dropped ?
- No duplicates

In [ ]:
##### drop columns : id 
df.drop(['id','yr_renovated'], axis=1, inplace=True)
df

In [51]:
df["renovated"] = df["sqft_living15"] != df["sqft_living"]

In [53]:
df["basement"] = df["sqft_basement"] != 0
df

,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,zipcode,lat,long,sqft_living15,sqft_lot15,price,renovated,basement
0,2014-10-13,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,98178,47.5112,-122.257,1340,5650,221900,True,False
1,2014-12-09,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,98125,47.7210,-122.319,1690,7639,538000,True,True
2,2015-02-25,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,98028,47.7379,-122.233,2720,8062,180000,True,False
3,2014-12-09,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,98136,47.5208,-122.393,1360,5000,604000,True,True
4,2015-02-18,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,98074,47.6168,-122.045,1800,7503,510000,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,2014-05-21,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,98103,47.6993,-122.346,1530,1509,360000,False,False
21593,2015-02-23,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,98146,47.5107,-122.362,1830,7200,400000,True,False
21594,2014-06-23,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,98144,47.5944,-122.299,1020,2007,402101,False,False
21595,2015-01-16,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,98027,47.5345,-122.069,1410,1287,400000,True,False
21596,2014-10-15,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,98144,47.5941,-122.299,1020,1357,325000,False,False

In [54]:
df.drop(['sqft_living','sqft_lot','sqft_above','sqft_basement'], axis=1, inplace=True)

In [55]:
df

,date,bedrooms,bathrooms,floors,waterfront,view,condition,grade,yr_built,zipcode,lat,long,sqft_living15,sqft_lot15,price,renovated,basement
0,2014-10-13,3,1.00,1.0,0,0,3,7,1955,98178,47.5112,-122.257,1340,5650,221900,True,False
1,2014-12-09,3,2.25,2.0,0,0,3,7,1951,98125,47.7210,-122.319,1690,7639,538000,True,True
2,2015-02-25,2,1.00,1.0,0,0,3,6,1933,98028,47.7379,-122.233,2720,8062,180000,True,False
3,2014-12-09,4,3.00,1.0,0,0,5,7,1965,98136,47.5208,-122.393,1360,5000,604000,True,True
4,2015-02-18,3,2.00,1.0,0,0,3,8,1987,98074,47.6168,-122.045,1800,7503,510000,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,2014-05-21,3,2.50,3.0,0,0,3,8,2009,98103,47.6993,-122.346,1530,1509,360000,False,False
21593,2015-02-23,4,2.50,2.0,0,0,3,8,2014,98146,47.5107,-122.362,1830,7200,400000,True,False
21594,2014-06-23,2,0.75,2.0,0,0,3,7,2009,98144,47.5944,-122.299,1020,2007,402101,False,False
21595,2015-01-16,3,2.50,2.0,0,0,3,8,2004,98027,47.5345,-122.069,1410,1287,400000,True,False
21596,2014-10-15,2,0.75,2.0,0,0,3,7,2008,98144,47.5941,-122.299,1020,1357,325000,False,False

In [56]:
df.drop(['date'], axis=1, inplace=True)
df

,bedrooms,bathrooms,floors,waterfront,view,condition,grade,yr_built,zipcode,lat,long,sqft_living15,sqft_lot15,price,renovated,basement
0,3,1.00,1.0,0,0,3,7,1955,98178,47.5112,-122.257,1340,5650,221900,True,False
1,3,2.25,2.0,0,0,3,7,1951,98125,47.7210,-122.319,1690,7639,538000,True,True
2,2,1.00,1.0,0,0,3,6,1933,98028,47.7379,-122.233,2720,8062,180000,True,False
3,4,3.00,1.0,0,0,5,7,1965,98136,47.5208,-122.393,1360,5000,604000,True,True
4,3,2.00,1.0,0,0,3,8,1987,98074,47.6168,-122.045,1800,7503,510000,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,3,2.50,3.0,0,0,3,8,2009,98103,47.6993,-122.346,1530,1509,360000,False,False
21593,4,2.50,2.0,0,0,3,8,2014,98146,47.5107,-122.362,1830,7200,400000,True,False
21594,2,0.75,2.0,0,0,3,7,2009,98144,47.5944,-122.299,1020,2007,402101,False,False
21595,3,2.50,2.0,0,0,3,8,2004,98027,47.5345,-122.069,1410,1287,400000,True,False
21596,2,0.75,2.0,0,0,3,7,2008,98144,47.5941,-122.299,1020,1357,325000,False,False

In [67]:

bins = [1900,1940,1950,1960, 1970, 1980, 1990,2000,2010,2020]

labels =["<40s","40s","50s","60s","70s","80s","90s","00s","10s"]

df['decade'] = pd.cut(df['yr_built'], bins,labels=labels)

print(df)

       bedrooms  bathrooms  floors  waterfront  view  condition  grade  \
0             3       1.00     1.0           0     0          3      7
1             3       2.25     2.0           0     0          3      7
2             2       1.00     1.0           0     0          3      6
3             4       3.00     1.0           0     0          5      7
4             3       2.00     1.0           0     0          3      8
...         ...        ...     ...         ...   ...        ...    ...
21592         3       2.50     3.0           0     0          3      8
21593         4       2.50     2.0           0     0          3      8
21594         2       0.75     2.0           0     0          3      7
21595         3       2.50     2.0           0     0          3      8
21596         2       0.75     2.0           0     0          3      7

       yr_built  zipcode      lat     long  sqft_living15  sqft_lot15   price  \
0          1955    98178  47.5112 -122.257           1340        5650  221900
1          1951    98125  47.7210 -122.319           1690        7639  538000
2          1933    98028  47.7379 -122.233           2720        8062  180000
3          1965    98136  47.5208 -122.393           1360        5000  604000
4          1987    98074  47.6168 -122.045           1800        7503  510000
...         ...      ...      ...      ...            ...         ...     ...
21592      2009    98103  47.6993 -122.346           1530        1509  360000
21593      2014    98146  47.5107 -122.362           1830        7200  400000
21594      2009    98144  47.5944 -122.299           1020        2007  402101
21595      2004    98027  47.5345 -122.069           1410        1287  400000
21596      2008    98144  47.5941 -122.299           1020        1357  325000

       renovated  basement decade
0           True     False    50s
1           True      True    50s
2           True     False   <40s
3           True      True    60s
4           True     False    80s
...          ...       ...    ...
21592      False     False    00s
21593       True     False    10s
21594      False     False    00s
21595       True     False    00s
21596      False     False    00s

[21597 rows x 17 columns]

In [68]:
df["decade"].value_counts()

00s     3440
<40s    3241
60s     2542
50s     2449
70s     2393
80s     2358
90s     2133
40s     1856
10s     1098
Name: decade, dtype: int64

In [69]:
df.drop(['yr_built'], axis=1, inplace=True)
df

,bedrooms,bathrooms,floors,waterfront,view,condition,grade,zipcode,lat,long,sqft_living15,sqft_lot15,price,renovated,basement,decade
0,3,1.00,1.0,0,0,3,7,98178,47.5112,-122.257,1340,5650,221900,True,False,50s
1,3,2.25,2.0,0,0,3,7,98125,47.7210,-122.319,1690,7639,538000,True,True,50s
2,2,1.00,1.0,0,0,3,6,98028,47.7379,-122.233,2720,8062,180000,True,False,<40s
3,4,3.00,1.0,0,0,5,7,98136,47.5208,-122.393,1360,5000,604000,True,True,60s
4,3,2.00,1.0,0,0,3,8,98074,47.6168,-122.045,1800,7503,510000,True,False,80s
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,3,2.50,3.0,0,0,3,8,98103,47.6993,-122.346,1530,1509,360000,False,False,00s
21593,4,2.50,2.0,0,0,3,8,98146,47.5107,-122.362,1830,7200,400000,True,False,10s
21594,2,0.75,2.0,0,0,3,7,98144,47.5944,-122.299,1020,2007,402101,False,False,00s
21595,3,2.50,2.0,0,0,3,8,98027,47.5345,-122.069,1410,1287,400000,True,False,00s
21596,2,0.75,2.0,0,0,3,7,98144,47.5941,-122.299,1020,1357,325000,False,False,00s

In [70]:
df = df.loc[df["bedrooms"] != 33 ]

print(df)

       bedrooms  bathrooms  floors  waterfront  view  condition  grade  \
0             3       1.00     1.0           0     0          3      7
1             3       2.25     2.0           0     0          3      7
2             2       1.00     1.0           0     0          3      6
3             4       3.00     1.0           0     0          5      7
4             3       2.00     1.0           0     0          3      8
...         ...        ...     ...         ...   ...        ...    ...
21592         3       2.50     3.0           0     0          3      8
21593         4       2.50     2.0           0     0          3      8
21594         2       0.75     2.0           0     0          3      7
21595         3       2.50     2.0           0     0          3      8
21596         2       0.75     2.0           0     0          3      7

       zipcode      lat     long  sqft_living15  sqft_lot15   price  \
0        98178  47.5112 -122.257           1340        5650  221900
1        98125  47.7210 -122.319           1690        7639  538000
2        98028  47.7379 -122.233           2720        8062  180000
3        98136  47.5208 -122.393           1360        5000  604000
4        98074  47.6168 -122.045           1800        7503  510000
...        ...      ...      ...            ...         ...     ...
21592    98103  47.6993 -122.346           1530        1509  360000
21593    98146  47.5107 -122.362           1830        7200  400000
21594    98144  47.5944 -122.299           1020        2007  402101
21595    98027  47.5345 -122.069           1410        1287  400000
21596    98144  47.5941 -122.299           1020        1357  325000

       renovated  basement decade
0           True     False    50s
1           True      True    50s
2           True     False   <40s
3           True      True    60s
4           True     False    80s
...          ...       ...    ...
21592      False     False    00s
21593       True     False    10s
21594      False     False    00s
21595       True     False    00s
21596      False     False    00s

[21596 rows x 16 columns]

In [71]:
df.to_csv("Data/midterm_project_cleaned.csv")